
<p-dropdown 
[options]="listadoSucursales" 
[(ngModel)]="valorSelecionadoSucursal"
placeholder="Seleccione la Sucursal"
optionLabel="nombre"
[showClear]="true"></p-dropdown> <br><br><br>

<p-dropdown 
[options]="listaUsuarioItem" 
[(ngModel)]="valorSelecionadoPersonal"
placeholder="Seleccione personal que solicita la requesicion"
optionLabel="label"
[showClear]="true"></p-dropdown> <br><br><br>

fecha limite: <p-calendar [(ngModel)]="fechaLimite"></p-calendar> <br><br><br><br>

Agregue los productos : <br><br><br>

<!-- <span class="p-float-label">
  <input id="float-input" [(ngModel)]="idProducto" type="number" pInputText> 
  <label for="float-input">id del producto</label>
</span>
&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  
<span class="p-float-label">
  <input id="float-input" [(ngModel)]="nombreProducto" type="text" pInputText> 
  <label for="float-input">Nombre del producto</label>
</span>
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 
<span class="p-float-label">
  <input id="float-input" [(ngModel)]="cantidad" type="number" pInputText> 
  <label for="float-input">Cantidad</label>
</span>
&nbsp; &nbsp; <br>
 -->
 <p-table [value]="listadoProductos" selectionMode="multiple" [(selection)]="productoSeleccionado" dataKey="id_producto">
  <ng-template pTemplate="header" let-columns>
      <tr>
        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          <th>
              Nombre
          </th>
          <th>
            Precio minimo
        </th>
        <th>
          fecha vencimiento
      </th>
      
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
          <td>
              {{rowData.nombre}}
          </td>
          <td>
            {{rowData.precio_minimo}}
        </td>
        <td>
          {{rowData.fecha_vencimiento | date:'dd/MM/yyyy'}}
      </td>
      
      </tr>
  </ng-template>
</p-table>
<p-button (click)="agregar()" label="Agregar" ></p-button>  <br> <br> <br>

<p-table  [value]="listadoDetRequi" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th >
             Cantidad
          </th>
          <th >
            Producto
         </th>
      </tr>

  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td>
            <input id="float-input" [(ngModel)]="rowData.cantidad" type="number" pInputText>
          </td>
          <td>
            {{rowData.nombre}}
          </td>
      </tr>
  </ng-template>
</p-table> <br> <br> <br>
<button pButton (click)="aceptar()" type="button" label="Guardar" ></button> <br><br>
<button pButton (click)="cancelar()" type="button" label="cancelar" class="p-button-secondary"></button>




